body {
  background: rgb(20, 20, 20);
  font-family: "Roboto", sans-serif;
}

.header_drivers_img {
  padding: 0;
  margin: 0;
  width: 100%;
}

#f1_logo {
  width: 100px;
}

#title {
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.subtitle {
  color: #ff0000;
  padding: 15px;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.driver_name {
  color: #ff0000;
  padding: 15px;
}

.driver_article {
  padding: 30px;
  border-radius: 15px;
  background: #323232;
  color: #ffffff;
  align-items: center;
}

.driver_img {
  border-radius: 15px;
  margin: 15px;
  width: 95%;
}
