body {
  background: rgb(20, 20, 20);
  color: #ffeeee
  font-family: "Roboto", sans-serif;
}

.header_drivers_img {
  padding: 0;
  margin: 0;
  width: 100%;
}

#f1_logo {
  width: 100px;
}

#title {
  color: #ffffff;
  padding: 15px;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.subtitle {
  color: #ff0000;
  padding: 15px;
  font-weight: bold;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

#team_arr {
  color: #4b0a14;
}
#team_atr {
  color: #142337;
}
#team_alp {
  color: #1496d7;
}
#team_amr {
  color: #00322d;
}
#team_fer {
  color: #eb1e1e;
}
#team_has {
  color: #ffffff;
}
#team_mcl {
  color: #dc6e19;
}
#team_mer {
  color: #afafb9;
}
#team_rbr {
  color: #323750;
}
#team_wil {
  color: #2d55c8;
}

.team_div {
  padding: 15px;
  border-radius: 15px;
  color: #ffffff;
  align-items: center;
}

.driver_name {
  color: #ff0000;
  padding: 15px;
}

.driver_article {
  padding: 30px;
  border-radius: 15px;
  background: #323232;
  color: #ffffff;
  align-items: center;
}

.driver_img {
  border-radius: 15px;
  margin: 15px;
  width: 95%;
}

footer {
  list-style-type: none;
  margin: 50px 0 -15px 0;
  padding: 30px;
  background: #ff0000;
  color: white;
}